/* Hide Scrollbar */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* End of Hide Scrollbar */

.infografic {
    background-image: url('../img/wallet.svg');
    width: 100%;
    height: auto;
    z-index: 1;
}

.infografic-content {
    width: 80%;
    height: 100%;
    z-index: 2;
    margin: 0 auto;
    padding: 5% 0px;
}

/* .rounded-shadow {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.3);
} */

li.button-green {
    margin-left: 0.5em;
    width: 3.5em;
    height: 1.6em;
    color: white;
    background-color: #10B759;
    border-radius: 5px 5px;
}

.png-shadow {
    -webkit-filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
}

table#memberDetailtab tr td {
    padding: 5px 5px 5px 0px !important;
}

.shadow {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.200);
    -moz-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.200);
    box-shadow: 0px 0px 15px 3px rgba(140, 140, 140, 0.2);
}

.infografic-wallet {
    background-image: url("../img/card-back.png");
    background-size: cover;
    height: 10em;
}

.infografic-wallet-body h4,
h5,
h2 {
    color: white;
}

.infografic-wallet-body h2 {
    text-align: center;
}

.infografic-wallet-footer {
    border-top: solid;
    border-color: white;
    background-color: #DC1F51;
    height: 3em;
}

.infografic-wallet-footer h5 {
    padding: 3% 5%;
    color: white;
}

.infografic-wallet-footer h5>span {
    font-weight: normal;
}

.text-white {
    color: white;
}

.table-input>label {
    margin-top: 0.8em;
}

.table-input>select,
input {
    margin: 0 0px;
}

.custom-address-mailbox div>.lcs_cursor {
    margin: 0px 0px;
}

.custom-address-mailbox div>.lcs_label {
    margin: 0px 0px;
}

/* Proses Pendaftaran */
.container-progressbar {
    width: 100%;
}

.progressbar li {
    list-style: none;
    display: inline-block;
    width: 30.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.progressbar li:before {
    width: 10px;
    height: 10px;
    content: "";
    line-height: 60px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 4px;
    left: -50%;
    z-index: 0;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #337ab7;
    font-weight: bold;
}

.progressbar li.active:before {
    border-color: #337ab7;
    background: #337ab7;
}

.progressbar li.active+li:after {
    background-color: #337ab7;
}

.progressbar li.active:before {
    background: #337ab7 url(user.svg) no-repeat center center;
    background-size: 60%;
}

.progressbar li::before {
    background: #fff url(user.svg) no-repeat center center;
    background-size: 60%;
}

/* End of Proses Pendaftaran */

/* Tree */
.tree,
.tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 8px;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    position: relative
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

/* End of Tree */
